@using Application.ViewModels.Rutas
@model RutaSaveViewModel

@{
    ViewData["title"] = "Crear";
}

<head>
    <style>
        body {
            background-color: #f3e3b2;
        }

        .card {
            border: 1px solid black;
            margin-top: 100px;
            width: 400px;
        }

        .footer {
            margin-top: 190px;
        }
    </style>
</head>

<div class="card col-4 offset-4">
    <div class="card-body">
        <form asp-controller="Rutas" asp-action="CreateRutaPost" method="post">

            <label asp-for="NombreRuta">Nombre:</label>
            <input class="form-control" type="text" asp-for="NombreRuta" required />

            <label asp-for="PuntoInicio">Punto de partida:</label>
            <input class="form-control" type="text" asp-for="PuntoInicio" required />

            <label asp-for="PuntoFinal">Destino:</label>
            <input class="form-control" type="text" asp-for="PuntoFinal" required />

            <label asp-for="Estado">Estado:</label>
            <select class="form-control" asp-for="Estado" required>
                <option value="@(true)">True</option>
                <option value="@(false)">False</option>
            </select>

            <div>
                <br />
                <button class="btn btn-success" type="submit">Crear</button>
                <a class="btn btn-danger" asp-action="Index">Volver</a>
            </div>
        </form>
    </div>
</div>