@using Application.ViewModels.Rutas
@model RutaViewModel

@{
    ViewData["Title"] = "Borrar";
}

<head>
    <style>
        body {
        background-color: #f3e3b2;
        }

        .card{
        border: 1px solid black;
        margin-top: 100px;
        width: 400px;
        justify-self: center;
        }

        .footer {
        margin-top: 210px;
        }
    </style>
</head>

<body>
    <div class="card">

        @if (Model != null)
        {
            <div class="card-header">
                <hS>¿Seguro que quieres borrar esta ruta?</hS>
            </div>
            <div class="card-body">

                <p>Nombre: @Model.NombreRuta</p>
                <p>Punto de salida: @Model.PuntoInicio</p>
				<p>Punto de llegada: @Model.PuntoFinal</p>

                <form asp-controller="Rutas" asp-action="DeleteRutaPost" method="post">
                    <input type="hidden" name="Id" value="@Model.RutaId" />
                    <button class="btn btn-warning" type="submit">Eliminar</button>
                    <a class="btn btn-danger" asp-action="Index">Cancelar</a>
                </form>
            </div>
        }
        else
        {
            <div class="card-body">
                <h2>No se encontró el reporte</h2>
            </div>
        }
    </div>
</body>