@using Application.ViewModels.Rutas
@model RutaViewModel

@{
    ViewData["Title"] = "Borrar";
}

<html>
    <head>
        <link rel="stylesheet" href="~/css/form.css"/>
    </head>

    <body>
        <div class="main-wrapper">
            <div class="card">
                @if (Model != null)
                {
                    <div class="card-header">
                        <h5>¿Seguro que quieres borrar esta ruta?</h5>
                    </div>
                    <div class="card-body">

                        <p><strong>Nombre: </strong>@Model.NombreRuta</p>
                        <p><strong>Punto de salida: </strong>@Model.PuntoInicio</p>
				        <p><strong>Punto de llegada: </strong>@Model.PuntoFinal</p>

                        <form asp-controller="Rutas" asp-action="DeleteRutaPost" method="post">
                            <input type="hidden" name="Id" value="@Model.RutaId" />
                            <button class="btn btn-warning" type="submit">Eliminar</button>
                            <a class="btn btn-danger" asp-action="Index">Cancelar</a>
                        </form>
                    </div>
                }
                else
                {
                    <div class="card-body">
                        <h2>No se encontró la ruta</h2>
                    </div>
                }
            </div>
        </div>
    </body>
<</html>>