<head>
	<style>
		body {
			background-color: #f3e3b2;
		}
	</style>
</head>
<body>
	<P>No cuenta con el permiso necesario para acceder a esta página</P>
	<a class="btn btn-primary" asp-controller="Account" asp-action="Login">Ir al login</a>
	<button class="btn btn-danger" onclick="history.back()">Volver a la página anterior</button>
</body>
