@using Application.ViewModels.Usuarios
@model LoginViewModel

@{
    ViewData["Title"] = "Login";
}

<h2>Iniciar Sesión</h2>

<form asp-action="Login" method="post">
    <div>
        <label>Correo:</label>
        <input asp-for="Correo" />
    </div>
    <div>
        <label>Contraseña:</label>
        <input asp-for="Contraseña" type="password" />
    </div>

    <button class="btn btn-primary" type="submit">Iniciar Sesión</button>
    <a class="btn btn-danger" asp-action="Register">Registrarse</a>
</form>
