@using Application.ViewModels.Usuarios
@model RegisterViewModel

@{

    ViewData["Title"] = "Registro";
}

<head>
    <style>
        .footer {
            margin-top: 125px;
        }

        .card-bottom{
            margin-top: 15px;
        }

        body {
            background-color: #f3e3b2;
        }

        .card {
            border: 1px solid black;
            margin-top: 20px;
        }

        h2{
            margin-top: 20px;
        }
    </style>
</head>

<body>
    <div class="col-4 offset-4">
        <h2>Registro</h2>
        <div class="card">
            <div class="card-body">
                <form asp-controller="Account" asp-action="Register" method="post">

                    <label asp-for="TipoUsuario">Tipo de usuario</label>
                    <select class="form-control" asp-for="TipoUsuario">
                        <option value="Usuario">Usuario</option>
                        <option value="Administrador">Administrador</option>
                    </select>

                    <label asp-for="Nombre">Nombre:</label>
                    <input class="form-control" asp-for="Nombre" type="text" required />

                    <label asp-for="Apellido">Apellido:</label>
                    <input class="form-control" asp-for="Apellido" type="text" required />

                    <label asp-for="Correo">Correo:</label>
                    <input class="form-control" asp-for="Correo" type="email" required />

                    <label asp-for="Contraseña">Contraseña:</label>
                    <input class="form-control" asp-for="Contraseña" type="password" required />

                    <div class="card-bottom">
                        <button class="btn btn-primary" type="submit">Enviar</button>
                        <a class="btn btn-danger" asp-action="Login">volver</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
</body>