@using Application.ViewModels.Usuarios
@model RegisterViewModel

<h2>Registro</h2>

<form asp-action="Register" method="post">
    <div>
        <label>Nombre:</label>
        <input asp-for="Nombre" />
    </div>
    <div>
        <label>Apellido:</label>
        <input asp-for="Apellido" />
    </div>
    <div>
        <label>Email:</label>
        <input asp-for="Correo" />
    </div>
    <div>
        <label>Contraseña:</label>
        <input asp-for="Contraseña" type="password" />
    </div>

    @*Okay, este comentario porque para Anderson o alguien de frontend ponga que se pueda elegir el tipo si "Usuario o administrador", 
    porque esta harcodeado para ser "Usuario"; debe ser un campo oculto al usuario, pero aun asi debe de poder afectarlo*@
     <div>
        <input  type="hidden" value="Usuario" asp-for="TipoUsuario" />
    </div>

    <button type="submit">Registrarse</button>
    <a class="btn btn-danger" asp-action="Login">Volver</a>
</form>