@using Application.ViewModels.Reportes;
@model ReporteViewModel

@{
    ViewData["title"] = "Editar";
}

<head>
    <link rel="stylesheet" href="~/css/form.css">
</head>


<body>
    <div class="main-wrapper">
        <div class="card">
            <div class="card-body">

                @if (Model != null)
                {
                    @if (Model.Estado == "Pendiente")
                    {
                        <form asp-controller="Reportes" asp-action="EditReportePost" method="post">

                            <input type="hidden" asp-for="UsuarioId" required />
                            <input type="hidden" asp-for="ReporteId" required />             

                            @switch (User.IsInRole("Administrador"))
                            {
                                case true:
                                    <label asp-for="Titulo">Titulo:</label>
                                    <input class="form-control" type="text" asp-for="Descripcion" readonly />

                                    <label asp-for="Descripcion">Descripción:</label>
                                    <input class="form-control" type="text" asp-for="Titulo" readonly />

								    <label asp-for="Estado">Repuesta:</label>
                                    <select class="form-control" asp-for="Estado" required>
                                        <option value="Rechazado">Rechazar</option>
                                        <option value="Aprobado">Aprobar</option>
                                    </select>
                                                                
                                    <label asp-for="Comentario">Comentario</label>
                                    <input class="form-control" type="text" asp-for="Comentario"  required />
                                    break;

                                case false:
                                    <label asp-for="Titulo">Titulo:</label>
                                    <input class="form-control" type="text" asp-for="Descripcion" required />

                                    <label asp-for="Descripcion">Descripción:</label>
                                    <input class="form-control" type="text" asp-for="Titulo" required />

                                    <input type="hidden" asp-for="Estado" required />
                                    break;
                            }

                            <div>
                                <br />
                                <button class="btn btn-success" type="submit">Editar</button>
                                <a class="btn btn-danger" asp-action="Index">Volver</a>
                            </div>
                        </form>
                    }
                    else
                    {
                        <p>Este reporte ya no puede ser editado.</p>
                    }
                }
			    else
			    {
				    <p>No se encontró el reporte.</p>
			    }
            </div>
        </div>
    </div>
</body>