@using Application.ViewModels.Choferes
@model ChoferViewModel

@{
    ViewData["Title"] = "Eliminar Chofer";
}

<head>
    <link rel="stylesheet" href="~/css/form.css">
</head>

<body>
    <div class="main-wrapper">
        <div class="card">
            @if (Model != null)
            {
                <div class="card-header">
                    <h5>¿Seguro que quieres borrar este chofer?</h5>
                </div>
                <div class="card-body">
                    <p><strong>Nombre:</strong> @Model.Nombre</p>
                    <p><strong>Cédula:</strong> @Model.Cedula</p>

                    <form asp-controller="Choferes" asp-action="DeleteChoferPost" method="post">
                        <input type="hidden" name="Id" value="@Model.ChoferId" />
                        <div class="btn-container">
                            <button class="btn btn-danger" type="submit">Eliminar</button>
                            <a class="btn btn-warning" asp-action="Index">Cancelar</a>
                        </div>
                    </form>
                </div>
            }
            else
            {
                <div class="card-body">
                    <h2 style="text-align: center;">No se encontró el chofer</h2>
                </div>
            }
        </div>
    </div>
</body>