@using Application.ViewModels.Choferes;
@model ChoferViewModel

@{
    ViewData["title"] = "Editar";
}

<head>
    <style>
        .footer {
            margin-top: 125px;
        }

        body {
            background-color: #f3e3b2;
        }

        .card {
            border: 1px solid black;
            margin-top: 100px;
        }
    </style>
</head>


<body>
    <div class="card col-4 offset-4">
        <div class="card-body">

            @if (Model != null)
            {
                <form asp-controller="Choferes" asp-action="EditChoferPost" method="post">

                    <input class="form-control" type="hidden" asp-for="ChoferId" required />

                    <label asp-for="Nombre">Nombre:</label>
                    <input class="form-control" type="text" asp-for="Nombre" required />

                    <label asp-for="Cedula">Cédula:</label>
                    <input class="form-control" type="text" asp-for="Cedula" required />
                    <span class="text-danger" asp-validation-for="Cedula"></span>

                    <div>
                        <br />
                        <button class="btn btn-success" type="submit">Editar</button>
                        <a class="btn btn-danger" asp-action="Index">Volver</a>
                    </div>
                </form>
            }
			else
			{
				<p>No se encontró el chofer.</p>
			}
        </div>
    </div>
</body>