@using Application.ViewModels.Choferes
@model ChoferViewModel

@{
    ViewData["Title"] = "Editar Chofer";
}

<head>
    <link rel="stylesheet" href="~/css/form.css">
</head>

<body>
    <div class="main-wrapper">
        <div class="card">
            <h3 style="text-align: center; margin-bottom: 20px;">Editar Chofer</h3>
            @if (Model != null)
            {
                <form asp-controller="Choferes" asp-action="EditChoferPost" method="post">
                    <input type="hidden" asp-for="ChoferId" />

                    <label asp-for="Nombre">Nombre:</label>
                    <input class="form-control" type="text" asp-for="Nombre" required />

                    <label asp-for="Cedula">Cédula:</label>
                    <input class="form-control" type="text" asp-for="Cedula" required />

                    <div class="btn-container">
                        <button class="btn btn-success" type="submit">Guardar</button>
                        <a class="btn btn-danger" asp-action="Index">Volver</a>
                    </div>
                </form>
            }
            else
            {
                <p>No se encontró el chofer.</p>
            }
        </div>
    </div>
</body>