.session-btn {
    margin-right: 10px;
    list-style: none;
}

.navbar-brand {
    color: #2e7d32 !important;
    font-weight: bold;
    font-size: 1.5rem;
    display: flex;
    align-items: center;
}

    .navbar-brand:hover {
        color: #4CAF50 !important;
        border-radius: 15px;
    }

.nav-link {
    color: #333333 !important;
    font-size: 1rem;
    padding: 0.75rem 1.25rem;
    margin: 0 0.2rem;
    border-radius: 4px;
    transition: all 0.3s ease;
    position: relative;
}

    .nav-link:hover {
        color: #ffffff !important;
        background-color: #4CAF50;
        border-radius: 100px;
    }

    .nav-link.active {
        color: #ffffff !important;
        background-color: #2e7d32;
    }

.btn-logout {
    background-color: transparent;
    color: #333333 !important;
    border: 1px solid #333333;
    padding: 0.5rem 1.25rem;
    border-radius: 4px;
    transition: all 0.3s ease;
}

    .btn-logout:hover {
        background-color: #d32f2f;
        color: #ffffff !important;
        border-color: #d32f2f;
    }

@media (max-width: 992px) {

    .navbar-collapse {
        padding-top: 1rem;
    }

    .nav-link:hover {
        color: #ffffff !important;
        background-color: #4CAF50;
        border-radius: 100px;
    }

    .nav-link.active {
        color: #ffffff !important;
        background-color: #000;
    }

    .nav-item {
        margin: 0.3rem 0;
    }

    .btn-logout {
        margin-top: 1rem;
        width: 100%;
        text-align: center;
    }
}
