@using Application.ViewModels.Camiones
@model CamionViewModel

@{
    ViewData["Title"] = "Eliminar Camión";
}

<head>
    <link rel="stylesheet" href="~/css/form.css">
</head>

<body>
    <div class="main-wrapper">
        <div class="card">
            @if (Model != null)
            {
                <div class="card-header">
                    <h5>¿Seguro que quieres borrar este camión?</h5>
                </div>
                <div class="card-body">
                    <p><strong>Placa:</strong> @Model.Placa</p>
                    <p><strong>Modelo:</strong> @Model.Modelo</p>
                    <p><strong>Año:</strong> @Model.Año</p>

                    <form asp-controller="Camiones" asp-action="DeleteCamionPost" method="post">
                        <input type="hidden" name="Id" value="@Model.CamionId" />
                        <div class="btn-container">
                            <button class="btn btn-danger" type="submit">Eliminar</button>
                            <a class="btn btn-warning" asp-action="Index">Cancelar</a>
                        </div>
                    </form>
                </div>
            }
            else
            {
                <div class="card-body">
                    <h2 style="text-align: center;">No se encontró el camión</h2>
                </div>
            }
        </div>
    </div>
</body>