@using Application.ViewModels.Camiones
@model CamionViewModel

@{
    ViewData["Title"] = "Editar Camión";
}

<head>
    <link rel="stylesheet" href="~/css/form.css">
</head>

<body>
    <div class="main-wrapper">
        <div class="card">
            <h3 style="text-align: center; margin-bottom: 20px;">Editar Camión</h3>
            @if (Model != null)
            {
                <form asp-controller="Camiones" asp-action="EditCamionPost" method="post">
                    <input type="hidden" asp-for="CamionId" />

                    <label asp-for="Placa">Placa:</label>
                    <input class="form-control" type="text" asp-for="Placa" required />

                    <label asp-for="Modelo">Modelo:</label>
                    <input class="form-control" type="text" asp-for="Modelo" required />

                    <label asp-for="Año">Año:</label>
                    <input class="form-control" type="number" asp-for="Año" required />

                    <div class="btn-container">
                        <button class="btn btn-success" type="submit">Guardar</button>
                        <a class="btn btn-danger" asp-action="Index">Volver</a>
                    </div>
                </form>
            }
            else
            {
                <p>No se encontró el camión.</p>
            }
        </div>
    </div>
</body>