@using Application.ViewModels.Camiones;
@model CamionViewModel

@{
    ViewData["title"] = "Editar";
}

<head>
    <style>
        .footer {
            margin-top: 125px;
        }

        body {
            background-color: #f3e3b2;
        }

        .card {
            border: 1px solid black;
            margin-top: 100px;
        }
    </style>
</head>


<body>
    <div class="card col-4 offset-4">
        <div class="card-body">

            @if (Model != null)
            {
                <form asp-controller="Camiones" asp-action="EditCamionPost" method="post">

                    <input class="form-control" type="hidden" asp-for="CamionId" required />

                    <label asp-for="Placa">Placa:</label>
                    <input class="form-control" type="text" asp-for="Placa" required />

                    <label asp-for="Modelo">Modelo:</label>
                    <input class="form-control" type="text" asp-for="Modelo" required />

                    <label asp-for="Año">Año:</label>
                    <input class="form-control" type="text" asp-for="Año" required />

                    <div>
                        <br />
                        <button class="btn btn-success" type="submit">Editar</button>
                        <a class="btn btn-danger" asp-action="Index">Volver</a>
                    </div>
                </form>
            }
			else
			{
                <p>No se encontró el camión.</p>
			}
        </div>
    </div>
</body>